{% extends "main" %}
{% set pageId = 'Bannersmall' %}

{% block main %}

  <!-- Content -->
  <div class="container" id="textobody">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}
