<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle
      }}</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
    <meta name="description" content="A modern php framework for faster and easier web development">
    <!-- Open Graph data -->
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta property="og:title" content="Selenia Framework" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://selenia.com/" />
    <meta property="og:image" content="{{ site.url }}/images/selenia_100.png" />
    <meta property="og:description" content="A modern php framework for faster and easier web development" />
    <meta property="og:site_name" content="Selenia Framework" />

    <meta name="robots" content="noindex, follow">
    {% endblock %}
    <link href="{{ site.url }}/components/bootstrap-3.3.4-dist/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link href="{{ site.url }}/components/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.url }}/css/animate.min.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements --><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="apple-touch-startup-image" href="{{ site.url }}/images/selenia/2048x2048.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}/images/selenia/76x76.png">
    <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}/images/selenia/120x120.png">
    <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}/images/selenia/128x128.png">
    <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}/images/selenia/152x152.png">
    <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/images/selenia/196x196.png">
    <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/images/selenia/512x512.png">
    <link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}/images/selenia/1024x1024.png">
    <link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}/images/selenia/2048x2048.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/images/selenia/76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/selenia/120x120.png">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}/images/selenia/128x128.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/selenia/152x152.png">
    <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}/images/selenia/196x196.png">
    <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}/images/selenia/512x512.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}/images/selenia/1024x1024.png">
    <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}/images/selenia/2048x2048.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/images/selenia/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/images/selenia/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/images/selenia/favicon-16x16.png">

    <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/monokai.css"/>
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed"/>

    {% block head_styles %} {% endblock %} {% block head_scripts %} {% endblock %}
  </head>
  <body>

    <a class="hidden-xs ribbongithub" href="https://github.com/selenia-framework">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999999;"
           src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
           alt="Fork me on GitHub"
           data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"> </a>



    <div id="Banner" class="container-fluid" itemscope itemtype="http://schema.org/SoftwareApplication">

      <header class="seleniaheader">
        <nav class="navbar navbar-default nomargin">
          <div class="container">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/"><img class="logotop" src="{{ site.url }}/images/selenia.png" alt="Selenia"/><div class="selenianame">Selenia</div></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse toright" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav text-right">
                  <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                  <li><a href="{{ site.url }}/documentation">Documentation</a></li>
                  <li><a href="{{ site.url }}/download">Download</a></li>
                  <li><a href="{{ site.url }}/about">About</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Git</a></li>
                      <li><a href="#">Stack</a></li>
                      <li><a href="#">Forum</a></li>
                      <li><a href="#">Blog</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </div>
        </nav>
      </header>

      <div class="container">
        <div class="row">
            <h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 claim">
              A modern php <span itemprop="applicationCategory">framework</span> for faster and easier web development
            </h1>
        </div>
          <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
              <a href="{{ site.url }}/download" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 downloadlink" itemprop="downloadUrl">Download</a>
              <a href="{{ site.url }}/documentation" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 docslink" itemprop="softwareHelp">Docs</a>
          </div>
        </div>
    </div>


    <section id="featurelist" itemscope itemtype="http://schema.org/SoftwareApplication">
      <div class="container">
        <div class="row" itemprop="featureList">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
        </div>
      </div>
    </section>

    <div class="container animated" id="separador1">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center logoverysmall">
          <img src="images/logosmallvery.png" class="img-responsive"/>
        </div>
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
      </div>
    </div>

    <section id="powerfullfeature" itemscope itemtype="http://schema.org/SoftwareApplication">
      <div class="container">
        <div class="row" itemprop="featureList">
          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated titulo">Over 60+ powerfull features</h2>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 animated um">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 feature1icon1">&nbsp;</div>
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 animated dois">
            <img itemprop="screenshot" src="images/tablet.png" alt="Selenia Tablet" class="img-responsive"/>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 animated tres">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 feature1icon2">&nbsp;</div>
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-push-1 col-md-push-1 animated quatro">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 feature1icon3">&nbsp;</div>
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-lg-push-2 col-md-push-2 top40 animated cinco">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 feature1icon4">&nbsp;</div>
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-push-3 col-md-push-3 animated seis">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 feature1icon5">&nbsp;</div>
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Curabitur varius leo non nisl molestie, ut dictum magna commodo. Maecenas eu tortor
              consectetur, blandit purus et, sollicitudin eros. Aliquam tincidunt eleifend commodo.</p>
          </div>
        </div>
      </div>
    </section>

    <div class="container animated" id="separador2">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center logoverysmall">
          <img src="images/logosmallvery.png" alt="Selenia Logo" class="img-responsive"/>
        </div>
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
      </div>
    </div>

    <section id="discover">
      <div class="container">
        <div class="row">
          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">DISCOVER ALL THE GREAT VIEWS</h2>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Nullam blandit lobortis risus, sed lacinia nisl porta sit amet. In ut est sit amet
              nisl scelerisque tempor rutrum ac lectus. Nullam pellentesque lacus sit amet nunc facilisis, a interdum
              lorem porta. Proin congue ultricies turpis, ac iaculis felis aliquam at. Nulla facilisi. In eget auctor
              neque. Duis ornare massa vel pretium viverra. Nullam egestas eleifend neque, sit amet fermentum mauris
              sollicitudin eget. Duis euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque
              erat libero consectetur sapien. Duis tincidunt placerat leo eget molestie. </p>
            <a href="#" class="linksection">More</a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <img src="images/displays.png" alt="Selenia Displays" class="img-responsive"/>
          </div>
        </div>
      </div>
    </section>

    <div class="container animated" id="separador3">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center logoverysmall">
          <img src="images/logosmallvery.png" alt="Selenia Logo" class="img-responsive"/>
        </div>
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
      </div>
    </div>

    <section id="discover2">
      <div class="container">
        <div class="row">
          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">DISCOVER ALL THE GREAT VIEWS</h2>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <img src="images/displays.png" alt="Selenia Displays" class="img-responsive"/>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Nullam blandit lobortis risus, sed lacinia nisl porta sit amet. In ut est sit amet
              nisl scelerisque tempor rutrum ac lectus. Nullam pellentesque lacus sit amet nunc facilisis, a interdum
              lorem porta. Proin congue ultricies turpis, ac iaculis felis aliquam at. Nulla facilisi. In eget auctor
              neque. Duis ornare massa vel pretium viverra. Nullam egestas eleifend neque, sit amet fermentum mauris
              sollicitudin eget. Duis euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque
              erat libero consectetur sapien. Duis tincidunt placerat leo eget molestie. </p>
            <a href="#" class="linksection">More</a>
          </div>
        </div>
      </div>
    </section>


    <section id="powerninja">
      <div class="container">
        <div class="row">

          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Some Ninja code that you love!
          </h2>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Nullam blandit lobortis risus, sed lacinia nisl porta sit amet. In ut est sit amet
              nisl scelerisque tempor rutrum ac lectus. Nullam pellentesque lacus sit amet nunc facilisis, a interdum
              lorem porta. Proin congue ultricies turpis, ac iaculis felis aliquam at. Nulla facilisi. In eget auctor
              neque. Duis ornare massa vel pretium viverra. Nullam egestas eleifend neque, sit amet fermentum mauris
              sollicitudin eget. Duis euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque
              erat libero consectetur sapien. Duis tincidunt placerat leo eget molestie. </p>

          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <pre>
                <code class="xml">
                  &lt;c:if is set&gt; &lt;span&gt;Some content&lt;/span&gt; &lt;p:else&gt; &lt;span>Another content&lt;/span&gt;
                  &lt;/p:else&gt; &lt;/c:if&gt;

                  &lt;c:if is set&gt; &lt;span&gt;Some content&lt;/span&gt; &lt;p:else&gt; &lt;span>Another content&lt;/span&gt;
                  &lt;/p:else&gt; &lt;/c:if&gt;
                </code>
            </pre>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <pre>
                <code class="xml">
                  &lt;c:if is set&gt; &lt;span&gt;Some content&lt;/span&gt; &lt;p:else&gt; &lt;span>Another content&lt;/span&gt;
                  &lt;/p:else&gt; &lt;/c:if&gt;

                  &lt;c:if is set&gt; &lt;span&gt;Some content&lt;/span&gt; &lt;p:else&gt; &lt;span>Another content&lt;/span&gt;
                  &lt;/p:else&gt; &lt;/c:if&gt;
                </code>
            </pre>
          </div>

        </div>
      </div>
    </section>


    <section id="anotherfeatures" itemscope itemtype="http://schema.org/SoftwareApplication">
      <div class="container">
        <div class="row" itemprop="featureList">

          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 anothertitle animated">
            Key Features
          </h2>
          <h3 class="featuretitle animated">In eget auctor neque. Duis ornare massa vel pretium viverra. Nullam egestas
            eleifend neque, sit amet fermentum mauris sollicitudin eget. </h3>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another1 animated">
            <span class="feature feature_1"></span>
            <h5 class="featuretitle2">100% Free</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another2 animated">
            <span class="feature feature_2"></span>
            <h5 class="featuretitle2">Chat</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another3 animated">
            <span class="feature feature_3"></span>
            <h5 class="featuretitle2">Like</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another4 animated">
            <span class="feature feature_4"></span>
            <h5 class="featuretitle2">Yeahhh!</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another5 animated">
            <span class="feature feature_5"></span>
            <h5 class="featuretitle2">Super</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another6 animated">
            <span class="feature feature_6"></span>
            <h5 class="featuretitle2">Fooo</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another7 animated">
            <span class="feature feature_7"></span>
            <h5 class="featuretitle2">More</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another8 animated">
            <span class="feature feature_8"></span>
            <h5 class="featuretitle2">Slim</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 another9 animated">
            <span class="feature feature_9"></span>
            <h5 class="featuretitle2">Hoorray</h5>
            <p class="featuretext">Nullam egestas eleifend neque, sit amet fermentum mauris sollicitudin eget. Duis
              euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque erat libero consectetur
              sapien.</p>
          </div>


        </div>
      </div>
    </section>

    <div class="container animated" id="separador4">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center logoverysmall">
          <img src="images/logosmallvery.png" alt="Selenia Logo" class="img-responsive"/>
        </div>
        <div class="hidden-xs hidden-sm col-md-5 col-lg-5 separador">
          &nbsp;
        </div>
      </div>
    </div>

    <section id="twofeatures">
      <div class="container">
        <div class="row">

          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated title">
            Two Features Block
          </h2>
          <h3 class="featuretitle featuretitleanim animated">Duis ornare massa vel pretium viverra. </h3>

          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 animated twoesquerda">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Nullam blandit lobortis risus, sed lacinia nisl porta sit amet. In ut est sit amet
              nisl scelerisque tempor rutrum ac lectus. Nullam pellentesque lacus sit amet nunc facilisis, a interdum
              lorem porta. Proin congue ultricies turpis, ac iaculis felis aliquam at. Nulla facilisi. In eget auctor
              neque. Duis ornare massa vel pretium viverra. Nullam egestas eleifend neque, sit amet fermentum mauris
              sollicitudin eget. Duis euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque
              erat libero consectetur sapien. Duis tincidunt placerat leo eget molestie. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 animated centerimage"><img src="images/apps.png" alt="Selenia Apps" class="img-responsive"/></div>

          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 animated tworight">
            <h3 class="featuretitle">Pellentesque habitant</h3>
            <p class="featuretext">Nullam blandit lobortis risus, sed lacinia nisl porta sit amet. In ut est sit amet
              nisl scelerisque tempor rutrum ac lectus. Nullam pellentesque lacus sit amet nunc facilisis, a interdum
              lorem porta. Proin congue ultricies turpis, ac iaculis felis aliquam at. Nulla facilisi. In eget auctor
              neque. Duis ornare massa vel pretium viverra. Nullam egestas eleifend neque, sit amet fermentum mauris
              sollicitudin eget. Duis euismod, tortor sed pharetra varius, sem nisi hendrerit odio, in scelerisque
              erat libero consectetur sapien. Duis tincidunt placerat leo eget molestie. </p>
          </div>

        </div>
      </div>
    </section>


    <section id="testemunhos" itemscope itemtype="http://schema.org/Review">
      <div class="container">
        <div class="row">

          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Some people say...</h2>
          <h3 class="featuretitle">They say... we are!</h3>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p class="speech" itemprop="reviewBody">Proin congue ultricies turpis, ac iaculis felis aliquam at. Nulla facilisi. In eget
              auctor neque. Duis ornare massa vel pretium viverra. </p>
            <span class="name" itemprop="author">Ricardo Cardoso</span>
            <span class="enterprise">Impactwave</span>
            <span class="reviewpower" itemprop="ratingValue">5<span class="glyphicon glyphicon-star">&nbsp;</span></span>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p class="speech" itemprop="reviewBody">Nullam pellentesque lacus sit amet nunc facilisis, a interdum lorem porta. Proin congue
              ultricies turpis, ac iaculis felis aliquam at. Nulla facilisi. In eget auctor neque. Duis ornare massa
              vel pretium viverra.</p>
            <span class="name" itemprop="author">Hugo Pires</span>
            <span class="enterprise">UltraCarpo</span>
            <span class="reviewpower" itemprop="ratingValue">5<span class="glyphicon glyphicon-star">&nbsp;</span></span>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p class="speech" itemprop="reviewBody">In ut est sit amet nisl scelerisque tempor rutrum ac lectus. Nullam pellentesque lacus
              sit amet nunc facilisis, a interdum lorem porta. Proin congue ultricies turpis, ac iaculis felis aliquam
              at. Nulla facilisi. In eget auctor neque. Duis ornare massa vel pretium viverra.</p>
            <span class="name" itemprop="author">Ana Silva</span>
            <span class="enterprise">Agrozapp</span>
            <span class="reviewpower" itemprop="ratingValue">5<span class="glyphicon glyphicon-star">&nbsp;</span></span>
          </div>


        </div>
      </div>
    </section>

    <section id="timeline" itemscope itemtype="http://schema.org/SoftwareApplication">
      <div class="container">
        <div class="row">
          <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Version History</h2>
          <h3 class="featuretitle">What have changed?</h3>

          <ul class="timeline">
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Version <span itemprop="softwareVersion">1.0.0</span></h4>
                  <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>22/6/2014</small>
                  </p>
                </div>
                <div class="timeline-body" itemprop="releaseNotes">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio,
                    in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                    monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                    bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Version <span itemprop="softwareVersion">1.0.1</span></h4>
                  <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>24/6/2014</small>
                  </p>
                </div>
                <div class="timeline-body" itemprop="releaseNotes">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio,
                    in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                    monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                    bolis, mais bolis eu num gostis.</p>
                  <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé,
                    cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere
                    ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in
                    mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel
                    lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Version <span itemprop="softwareVersion">1.0.2</span></h4>
                  <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>21/7/2014</small>
                  </p>
                </div>
                <div class="timeline-body" itemprop="releaseNotes">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio,
                    in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                    monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                    bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Version <span itemprop="softwareVersion">1.1.0</span></h4>
                  <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>02/9/2014</small>
                  </p>
                </div>
                <div class="timeline-body" itemprop="releaseNotes">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio,
                    in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                    monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                    bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Version <span itemprop="softwareVersion">1.4.2</span></h4>
                  <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>22/11/2014</small>
                  </p>
                </div>
                <div class="timeline-body" itemprop="releaseNotes">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio,
                    in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                    monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                    bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Version <span itemprop="softwareVersion">1.5.0</span></h4>
                  <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>13/12/2014</small>
                  </p>
                </div>
                <div class="timeline-body" itemprop="releaseNotes">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio,
                    in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                    monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                    bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Version <span itemprop="softwareVersion">2.0.1</span></h4>
                  <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>12/1/2015</small>
                  </p>
                </div>
                <div class="timeline-body" itemprop="releaseNotes">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio,
                    in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in
                    monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de
                    bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </section>


    <footer>
      <div class="container">

        <div class="row">
          <ul class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <li><strong>Project</strong></li>
            <li><a href="{{ site.url }}/download">Download</a></li>
            <li><a href="{{ site.url }}/download">Changelog</a></li>
            <li><a target="_blank" href="https://github.com/selenia-framework">GitHub Project</a></li>
            <li><a href="{{ site.url }}/download">Roadmap</a></li>
            <li><a href="https://github.com/selenia-framework">Contribute</a></li>
          </ul>
          <ul class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <li><strong>Learn</strong></li>
            <li><a href="{{ site.url }}/about">About Selenia</a></li>
            <li><a href="{{ site.url }}/docs">Get Started</a></li>
            <li><a href="{{ site.url }}/docs">Screencasts</a></li>
            <li><a href="{{ site.url }}/docs">Developer Guide</a></li>
            <li><a href="{{ site.url }}/docs">API Reference</a></li>
          </ul>
          <ul class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <li><strong>Support</strong></li>
            <li><a href="#">Get Help</a></li>
            <li><a href="#">Discuss</a></li>
            <li><a href="#">Submit Issues</a></li>
            <li><a href="{{ site.url }}/readme">Read the FAQ</a></li>
          </ul>
          <ul class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <li><strong>Follow us</strong></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left smallfooter">
            Code licensed under the Apache License v2.0.
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right smallfooter">
            &copy; {{ "now"|date("Y") }} {{ site.title }}
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left smallfooter">
            Documentation licensed under CC BY 3.0.
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right smallfooter">
            &nbsp;
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="sociallinks">
              <li><a href="http://www.facebook.com" target="_blank" class="facebooklink">&nbsp;</a></li>
              <li><a href="http://www.twitter.com" target="_blank" class="twitterlink">&nbsp;</a></li>
              <li><a href="https://plus.google.com" target="_blank" class="googlelink">&nbsp;</a></li>
              <li><a href="https://www.youtube.com/" target="_blank" class="youtubelink">&nbsp;</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">&nbsp;</div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">&nbsp;</div>
        </div>

        <div class="row text-center logosimb">
          <img src="{{ site.url }}/images/logowhite.png" alt="Selenia Logo" width="60"/>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery ||
    document.write ('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
    <script src="{{ site.url }}/components/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>

    <script>
      jQuery ("document").ready (function ($)
      {
        var nav = $ ('.seleniaheader');
        var claim = $('.claim');
        $ (window).scroll (function ()
        {
          if ($ (this).scrollTop () > 80) {
            nav.addClass ("f-nav");
            nav.addClass ("animated");
            nav.addClass ("slideInDown");
            claim.addClass ("claim2");
          } else {
            nav.removeClass ("f-nav");
            nav.removeClass ("animated");
            nav.removeClass ("slideInDown");
            claim.removeClass ("claim2");
          }
        });


      /*
        $ (window).scroll (function ()
        {
          if ($ (this).scrollTop () > 300) {
          //  $( "#featurelist" ).addClass( "animated" );
           // $( "#featurelist" ).addClass( "fadeInLeft" );
          }
          if ($ (this).scrollTop () > 400) {
            $( "#separador1" ).addClass( "fadeIn" );
          }
          if ($ (this).scrollTop () > 500) {
            $( "#powerfullfeature .titulo" ).addClass( "fadeInUp" );
            $( "#powerfullfeature .um" ).addClass( "fadeInLeft" );
            $( "#powerfullfeature .dois" ).addClass( "fadeInDown" );
            $( "#powerfullfeature .tres" ).addClass( "fadeInRight" );
            $( "#powerfullfeature .quatro" ).addClass( "fadeInLeft" );
            $( "#powerfullfeature .cinco" ).addClass( "fadeInUp" );
            $( "#powerfullfeature .seis" ).addClass( "fadeInRight" );
          }
          if ($ (this).scrollTop () > 900) {
            $( "#separador2" ).addClass( "fadeIn" );
          }
          if ($ (this).scrollTop () > 1200) {
            $( "#discover" ).addClass( "animated" );
            $( "#discover" ).addClass( "fadeInLeft" );
          }
          if ($ (this).scrollTop () > 1700) {
            $( "#separador3" ).addClass( "fadeIn" );
          }
          if ($ (this).scrollTop () > 1800) {
            $( "#discover2" ).addClass( "animated" );
            $( "#discover2" ).addClass( "fadeInRight" );

          }
          if ($ (this).scrollTop () > 2400) {
            $( "#powerninja" ).addClass( "animated" );
            $( "#powerninja" ).addClass( "bounceIn" );
          }
          if ($ (this).scrollTop () > 2700) {
            $( "#separador4" ).addClass( "fadeIn" );
          }
          if ($ (this).scrollTop () > 3400) {
            $( "#anotherfeatures .anothertitle" ).addClass( "fadeInTop" );
            $( "#anotherfeatures .featuretitle" ).addClass( "fadeInDown" );
            $( "#anotherfeatures .another1" ).addClass( "fadeInLeft" );
            $( "#anotherfeatures .another2" ).addClass( "fadeIn" );
            $( "#anotherfeatures .another3" ).addClass( "fadeInRight" );
            $( "#anotherfeatures .another4" ).addClass( "fadeInLeft" );
            $( "#anotherfeatures .another5" ).addClass( "fadeIn" );
            $( "#anotherfeatures .another6" ).addClass( "fadeInRight" );
            $( "#anotherfeatures .another7" ).addClass( "fadeInLeft" );
            $( "#anotherfeatures .another8" ).addClass( "fadeIn" );
            $( "#anotherfeatures .another9" ).addClass( "fadeInRight" );
          }
          if ($ (this).scrollTop () > 4000) {
            $ ("#twofeatures .title").addClass ("fadeIn");
            $ ("#twofeatures .featuretitleanim").addClass ("fadeIn");
            $ ("#twofeatures .twoesquerda").addClass ("fadeInLeft");
            $ ("#twofeatures .centerimage").addClass ("fadeInUp");
            $ ("#twofeatures .tworight").addClass ("fadeInRight");
          }
        });
      */

      });
    </script>

    {% block scripts %} {% endblock %}

    {% if site.google_analytics_tracking_id %}

    <script type="text/javascript">
      (function (i, s, o, g, r, a, m)
      {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function ()
        {
          (i[r].q = i[r].q || []).push (arguments)
        }, i[r].l = 1 * new Date ();
        a = s.createElement (o),
            m = s.getElementsByTagName (o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore (a, m)
      }) (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga ('create', '{{site.google_analytics_tracking_id}}', 'auto');
      ga ('send', 'pageview');
    </script>
    {% endif %}
    <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad ();</script>

    {% block scripts_after %} {% endblock %}

  </body>
</html>
